:root {
  --primary-color: #fffffe;
  --secondary-color: #6246ea;
  --accent-color: #2b2c34;
  --tint-color: #d1d1e9;
  --text-color: #0d0d0d;
  --text-color-dark: #2b2c34;
  --spacing-small: 0.5rem;
  --spacing-medium: 2rem;
  --spacing-large: 3.2rem;
  --font-size-small: 1.2rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 2.4rem;
  --font-size-xlarge: 3.2rem;
  --font-size-xxlarge: 4.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 80%;
}

header {
  padding-top: var(--spacing-large);
  text-align: center;
}

h1 {
  font-size: var(--font-size-xxlarge);
  margin-bottom: var(--spacing-medium);
}

section {
  width: 80%;
  margin: 5% auto;
}

section h2 {
  font-size: var(--font-size-large);
  margin-bottom: var(--spacing-medium);
}

form {
  border: 1px solid black;
  border-radius: 0.7rem;
  width: 50%;
  padding: var(--spacing-small);
  margin: auto;
  background-color: var(--tint-color);
}

label,
input {
  display: block;
  font-size: var(--font-size-small);
  width: 80%;
}

label {
  margin-bottom: var(--spacing-small);
}

input {
  margin-bottom: var(--spacing-medium);
}

input[type="button"] {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 50%;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: var(--accent-color);
}

.check {
  display: inline-block;
  margin: 0;
}

input[type="checkbox"] {
  display: inline;
}

#comment {
  display: block;
}
